            <nav id="sidebar">
                <div class="sidebar-header">
                    <h2 id="irss">Proyecto IRSSAS</h2>
                </div>

                <ul class="list-unstyled components mainmenu">
                    <h3>Componentes</h3>
                    <li class="active"><a id="Saneamiento" onclick="changeComponent('Componente',1, this.id);">Saneamiento</a>
                    <ul class="components submenu">
                    <li><a id="Gestión de Aguas Residuales" onclick="changeComponent('SubComponente',1, this.id);">Gestión de Aguas Residuales</a></li>
                    <li><a id="Gestión de Residuos Sólidos" onclick="changeComponent('SubComponente',2, this.id);">Gestión de Residuos Sólidos</a></li>
                    </ul></li>

                    <li class="active"><a id="Gestión del Recurso Hídrico" onclick="changeComponent('Componente',2, this.id);" >Gestión del Recurso Hídrico</a>
                    <ul class="components submenu">
                    <li><a id="Gestión de Protección del Recurso Hídrico" onclick="changeComponent('SubComponente',3, this.id);">Gestión de Protección del Recurso Hídrico</a></li>
                    <li><a id="Calidad de Agua Potable" onclick="changeComponent('SubComponente',4, this.id);">Calidad de Agua Potable</a></li>
                    <li><a  id="Gestión Administrativo/Financiero" onclick="changeComponent('SubComponente',5, this.id);">Gestión Administrativo/Financiero</a></li>
                    </ul></li>

                    <li class="active"><a id="Índice de Desarrollo" onclick="changeComponent('Componente',3, this.id);" >Índice de Desarrollo</a></li>
                    <li class="active"><a id="Educación" onclick="changeComponent('Componente',4, this.id);">Educación</a></li>
                    <li class="active"><a id="Fenómenos Naturales"  onclick="changeComponent('Componente',5, this.id);">Fenómenos Naturales</a></li>
                    <li class="active laclase"><a id="Índice de Riesgo Sostenible en el Servicio de Agua y Saneamiento"  onclick="changeComponent('IRSSAS',0, this.id);">IRSSAS Total</a></li>
                    <hr>
                    <li class="active"><a href="/presentacionAsadas">Presentación de ASADAS</a></li>
                    <li class="active"> <a  href="/infoGeneral">Información General</a></li>
                    
                </ul>

                
            </nav>