       <h1 id="myh1">Componentes</h1>
       <h1 id="var1" hidden=""><%= var1%></h1>
       <h1 id="var2" hidden=""><%= var2%></h1>
            <ul class="mainmenu">
              <li><a href=""><i class="fa fa-tint"></i> Saneamiento</a>
              <ul class="submenu">
                <li><a href="/1"> Gestión de Aguas Residuales</a></li>
                <li><a href="/2"> Gestión de Residuos Sólidos</a></li>
                <li><a href="/3"> Porcentaje Toneladas/Cantón</a></li>
              </ul>
              </li>
              <li><a href=""><i class="fa fa-tint"></i> Gestión del Recurso Hídrico</a>
                <ul class="submenu">
                  <li><a href="/3"> Gestión de Protección del Recurso Hídrico</a></li>
                  <li><a href="/4"> Calidad de Agua Potable</a></li>
                  <li><a href="/5"> Gestión Administrativo/Financiero</a></li>
                </ul>
              </li>
              <li><a href="/6"><i class="fa fa-tint"></i> Índice de Desarrollo</a></li>
              <li><a href="/7"><i class="fa fa-tint"></i> Educación</a></li>
              <li><a href="/8"><i class="fa fa-tint"></i> IRSSAs</a></li>
            </ul>