<div class="menu">
     <div class="menu_item"><a href="https://www.aya.go.cr/SitePages/Principal.aspx"><img class="menu_image" src="images/tec.png" alt=""></a></div>
      <div class="menu_item"><a href="https://www.aya.go.cr/SitePages/Principal.aspx"><H1>Proyecto IRSSAS</H1></a></div>
      <div class="menu_item_block">
      <form class="menu_form" action="/logout">
      <div class="menu_item"><input class="login_button" type="submit" name="button" value="Cerrar Sesión"></div>
      </form>
      </div>
    </div>