<ul class="mainmenu">
			  <li><a href="/main"><i class="fa fa-home"></i> Inicio </a></li>
              <li><a href="/visor"><i class="fa fa-eye"></i> Visor</a></li>
              <li><a href="/asada/add"><i class="fa fa-plus"></i> Nueva Asada</a></li>
              <li><a href="/asada/response"><i class="fa fa-book"></i> Generar nuevas Respuestas</a></li>
</ul>