           <nav id="sidebar">
                <div class="sidebar-header">
                    <h2>Proyecto IRSSAS</h2>
                </div>

                <ul class="list-unstyled components mainmenu">

                    <li class="active"><a href="/main"><i class="fa fa-home"></i> Inicio </a></li>
                    <li class="active"><a href="/visor"><i class="fa fa-eye"></i> Visor</a></li>
                    <li class="active"><a href="/asada/add"><i class="fa fa-plus"></i> Nueva Asada</a></li>
                    <li class="active"><a href="/asada/response"><i class="fa fa-book"></i> Generar nuevas Respuestas</a></li>

                

                    
                </ul>

                
            </nav>