        
        <div id="divbutton" style=" position: absolute; bottom: 6px; right: 8px;">
                <button type="button" id="buttonrisk" class="btn btn-info navbar-btn">
                                <i class="glyphicon glyphicon-leaf"></i>
                                <span></span>
                </button>
        </div>

        <div id="divrisk" style="border-radius: 20px; width: 200px; background-color: #193d66; position: absolute; bottom: 0px; right: 0px;">
        <ul style="list-style-type: square;">
        <li style="list-style-type: none; color: #fff;">Nivel de Riesgo</li>
        <br>
        <li style="color: rgb(234, 77, 70);">Muy Alto</li>

        <li style="color: rgb(232, 215, 75);">Alto</li>
        <li style="color: rgb(72, 118, 90);">Intermedio</li>

        <li style="color: rgb(22, 155, 220);">Bajo</li>
        <li style="color: rgb(22, 87, 205);">Nulo</li>


        <li style="color: rgb(255,255,255);">No definido</li>
        </ul>
        </div>