<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header %>
  </head>
  <body>
     <div class="menu">
     <div class="menu_item"><a href="https://www.aya.go.cr/SitePages/Principal.aspx"><img class="menu_image" src="images/tec.png" alt=""></a></div>
      <div class="menu_item"><a href="https://www.aya.go.cr/SitePages/Principal.aspx"><H1>Proyecto IRSSAS</H1></a></div>
      <div class="menu_item_block">
      <form class="menu_form" action="/main">
      <div class="menu_item"><input class="login_button" type="submit" name="button" value="Cerrar Sesión"></div>
      </form>
      </div>
    </div>
    <div class="main">
      <h1><%= rows[0].nombre%></h1>
      <h2>2018</h2>
      <div class="main_table">
        <table>
          <thead>
            <th>Pregunta</th>
            <th>Respuesta</th>
          </thead>
          <% resp.forEach(function(asada) { %>
          <tr>
              <td><%= asada.detalle %></td>
              <td><%= asada.texto%></td>
          </tr>
          <% }); %>
        </table>
      </div>
      <div class="main_lateral">
      	<ul class="mainmenu">
              <li><a href="/"><i class="fa fa-eye"></i> Visor</a></li>
              <li><a href="/main"><i class="fa fa-tint"></i>Agregar Asada</a></li>
            </ul>       
      </div>
    </div>

  </body>
</html>