<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header %>
  </head>
  <body>
    <header>
     <% include ../partials/mainHeader %>
    </header>
    <div class="main" style="overflow: auto;">
      <div class="main_table">
      <h1 style="color: rgb(0, 40, 85); padding-left: 10px;"><%= rows[0].nombre%></h1>
      <h2 style="color: rgb(0, 40, 85); padding-left: 10px;">2018</h2>
        <table>
          <thead>
            <th>Pregunta</th>
            <th>Respuesta</th>
          </thead>
          <% rows.forEach(function(asada) { %>
          <tr>
              <td><%= asada.detalle %></td>
              <td><%= asada.texto%></td>
          </tr>
          <% }); %>
        </table>
      </div>
      </div>

      <div class="main_lateral">
      	<% include ../partials/nav %>       
      </div>

  </body>
</html>