<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/header %>
    </head>

    <body>

        <div class="wrapper">
            <!-- Sidebar Holder -->
            <% include ../partials/lateral %>
            <!-- Page Content Holder -->
            <div id="content">

                <nav class="navbar navbar-default">
                    <div class="container-fluid">

                        <div class="navbar-header">
                            <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                                <i class="glyphicon glyphicon-leaf"></i>
                                <span></span>
                            </button>
                            
                        </div>

                        <div style="float: right;">
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <form class="form-inline" method="post">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="usr" name="usr" placeholder="Usuario">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" id="pwd" name="pwd" placeholder="Contraseña">
                                    </div>
                                    <button type="submit" class="btn btn-info navbar-btn">Ingresar</button>
                                    <p style="color: #f00;"><%= error%></p>
                                </form>
                            </div>       
                        </div>

                    </div>
                    <p id="mycomponent">índice de Riesgo Sostenible en el Servicio de Agua y Saneamiento</p>
                    <div id="map">                   
                    </div>
                    <div id="popup" class="ol-popup">
                        <a href="#" id="popup-closer" class="ol-popup-closer"></a>
                        <div id="popup-content"></div>
                    </div>
                    <% include ../partials/riesgo %>
                </nav>
                                    <div style="margin: 20px;">
                        <h1 align="center" style="color: #002855;">Bienvenido a IRSSAS</h1>
                        <p align="justify">Bienvenidos a la herramienta IRSSAS, la cual determina el riesgo asociado a
                        la prestación del suministro de agua y saneamiento en zonas rurales de Costa Rica.
                        Para garantizar la prestación del servicio de agua y saneamiento en forma
                        sostenible, se requiere controlar los siguientes factores:
                        Evitar la contaminación del recurso hídrico con un buen saneamiento
                        Proteger las fuentes de agua
                        Invertir en infraestructura (captación, conducción, tratamiento,
                        almacenamiento, desinfección y distribución)
                        Contar con poblaciones cuyas condiciones socioeconómicas sean las más
                        adecuadas para responder a un desarrollo sostenible.
                        Contar con poblaciones concientizadas ambientalmente y saludable
                        Tomar acciones de prevención ante los riesgos asociado a la vulnerabilidad
                        territorio  
                        A partir de estos se construyen los cinco grandes componentes del IRSSAS a
                        saber: Recurso hídrico, Saneamiento, Educación, Desarrollo económico y social
                        de la región y riesgos naturales asociados al territorio, a la vez, algunos de estos
                        componentes se subdividen en subcomponentes.</p>
                    </div>
                    <div style="margin: 20px;">
                        <h1 align="center" style="color: #002855;">Explicación del Proyecto</h1>
                        <p> En Costa Rica existen alrededor de 1500 Asociaciones Administradores de los sistemas de acueductos y 
                        alcantarillados comunales o ASADAS. Muchas de ellas no cuentan con una oportuna toma de decisiones en 
                        muchos aspectos relacionados a la calidad del servicio.Para garantizar la sustentabilidad es necesario
                        contar con una herramienta que evalúe el riesgo asociado a la prestación del servicio de agua potable y
                        el saneamiento en zonas rurales con el objetivo de mitigar los problemas que se pueden presentar. Por esta razón en esta investigación se desarrolló el Índice de Riesgo Sostenible en el Servicio de Agua y Saneamiento (IRSSAS), que podrá ser utilizado por las autoridades correspondientes como una guía en la planificación e intervención económica y a la vez contribuye a disminuir el riesgo en los acueductos rurales, ya que los administradores de estos podrán tomar acciones correctivas para garantizar la sustentabilidad. 
                        El índice está compuesto por cinco componentes: Recurso hídrico, Saneamiento, Educación, Desarrollo 
                        económico y social de la región y riesgos naturales asociados al territorio, A la vez, algunos de 
                        estos componentes se dividen en subcomponentes como Gestión del Recurso Hídrico, Gestión administrativa 
                        o financiera y Gestión de Residuos Sólidos, además estos se dividen en más de 30 indicadores de riesgo diferente. 
                        Este índice podrá ser administrado y visualizado mediante un sitio web, donde tanto los administradores de las 
                        ASADAS como los encargados del AyA puedan acceder a muchos servicios basados en los riesgos de las ASADAS, entre 
                        estos están administrar componentes, subcomponentes e indicadores, visualización geográfica del riesgo de las 
                        ASADAS por distrito, generar informes, estadísticas y formularios de respuesta de los indicadores, además de 
                        poder ver resultados históricos de las ASADAS en a través de los años. </p>
                    </div>
                    <div class="row">
						<div class="col-md-4">
							<div class="single-feature">
                                <img src="images/t1.jpg" alt="" class="img-thumbnail">
								<div class="desc text-center mt-30">
									<h4 class="text-white">ASADAS</h4>
									<p class="text-white">Las ASADAS investigan la situación de riesgo en sus centros como el saneamiento, la calidad del agua, el índice social de la comunidad, la educación ecológica y el riesgo de desastres naturales</p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="single-feature">
                                <img src="images/t2.jpg" alt="" class="img-thumbnail">
								<div class="desc text-center mt-30">
									<h4 class="text-white">Información</h4>
									<p class="text-white">Los administradores de las ASADAS completan un formulario con la situación actual del riesgo</p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="single-feature">
                                <img src="images/t3.jpg" alt="" class="img-thumbnail">
								<div class="desc text-center mt-30">
									<h4 class="text-white">Sitio Web</h4>
									<p class="text-white">El sitio web es actualizado con la información del formulario para mostrar el riesgo mediante un mapa de riesgos por distrito.</p>
								</div>
							</div>
						</div>
                    </div>
                    <div style="margin: 20px;">
                            <h1 align="center" style="color: #002855;">Misión del Proyecto</h1>
                            <p>Se espera que esta herramienta, sea de gran utilidad para el AyA en el seguimiento de las ASADAS con mayor riesgo, a su vez poder mejorar la calidad del servicio y aumentar la calidad de vida en las comunidades rurales.</p>
                    </div>
            </div>
        </div>


        <!-- jQuery CDN -->
        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <!-- Bootstrap Js CDN -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!-- jQuery Custom Scroller CDN -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

        <script type="text/javascript">
            $(document).ready(function () {
               

                $('#sidebarCollapse').on('click', function () {
                    $('#sidebar, #content').toggleClass('active');
                    $('.collapse.in').toggleClass('in');
                    $('a[aria-expanded=true]').attr('aria-expanded', 'false');
                });

                $("#divrisk").click(function(){
                     $("#divrisk").toggle("slow","linear");
                     $("#buttonrisk").show();
                });

                $("#buttonrisk").click(function(){
                     $("#divrisk").toggle("slow","linear");
                     $("#buttonrisk").hide();
                });

                $("#buttonrisk").hide();

                $("#filts").click(function(){
                     $("#menucomps").toggle("slow","linear");
                     $("#menufilts").toggle("slow","linear");
                });

                $("#filts2").click(function(){
                     $("#menucomps").toggle("slow","linear");
                     $("#menufilts").toggle("slow","linear");
                });

                $("#menufilts").hide();


            });
        </script>
        <script src="scripts/ol.js"></script>
        <script src="scripts/map.js"></script>
        <script src="scripts/script.js"></script>
    </body>
</html>
