<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/header %>
    </head>

    <body>

        <div class="wrapper">
            <!-- Sidebar Holder -->
            <% include ../partials/latAdmin %>
            <!-- Page Content Holder -->
            <div id="content">

                <nav class="navbar navbar-default">
                    <div class="container-fluid">

                        <div class="navbar-header">
                            <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                                <i class="glyphicon glyphicon-leaf"></i>
                                <span></span>
                            </button>
                        </div>

                        <div style="float: right;">
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <form action="/logout">
                                    <button type="submit" class="btn btn-info navbar-btn">Cerrar Sesión</button>
                                </form>
                            </div>                           
                        </div>
                    </div>
                    <div style="margin: 20px;">
                        <h1 align="center" style="color: #002855;">Bienvenido a IRSSAS, <%= usuario.Nombre %></h1>
                        <p align="center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut euismod volutpat lacus, a dapibus odio. Phasellus egestas nisi id mollis pellentesque. Nunc aliquet auctor odio. Vivamus fermentum ac dui sed scelerisque. Ut vitae ex tincidunt, viverra est molestie, ullamcorper nulla. In vel tortor vehicula, feugiat justo quis, bibendum lorem. Ut eget metus a nunc aliquam viverra in ut purus. Donec accumsan odio nec tristique pharetra. Mauris porttitor, justo eu ullamcorper viverra, urna tellus elementum sapien, nec rutrum risus dolor in ante. Aenean dapibus arcu non vehicula sagittis. Ut at consectetur justo, a dignissim quam. Fusce vehicula eros a nisi ornare, ut vestibulum ante pretium. Etiam ac eros eget arcu pretium dignissim at eget neque. Etiam tempor tellus eget eros blandit, malesuada blandit enim blandit. Etiam nec fermentum augue. Cras malesuada lacus a sagittis ullamcorper.

                        Vestibulum eleifend at lectus et faucibus. In hac habitasse platea dictumst. Ut id ornare est. Phasellus vulputate posuere eros, a congue nisi dignissim ac. Morbi semper magna iaculis lacus fermentum, sed vehicula dolor dapibus. Sed in urna a massa pharetra placerat ac sed lorem. Nam rutrum enim elementum rutrum egestas. Phasellus tellus turpis, pulvinar nec aliquet eu, scelerisque in magna. In elementum, magna finibus tincidunt gravida, odio nulla rutrum turpis, id posuere metus eros sed magna. Maecenas non feugiat lectus, sit amet fringilla tortor. Vivamus vitae nisi elementum nulla rhoncus accumsan.

                        Phasellus convallis nulla eu placerat commodo. Fusce ultrices porttitor neque, vitae gravida ante. Mauris id mi libero. Mauris magna eros, viverra vitae finibus a, scelerisque quis dolor. Duis vitae nunc ex. Ut elementum sem ipsum. Nunc tincidunt posuere semper. Nam sit amet arcu vitae mauris ultrices consequat quis vitae ante. Nunc volutpat gravida ornare. Praesent vel imperdiet quam. Donec felis neque, luctus in malesuada et, vulputate quis sapien. Sed luctus molestie lobortis. Sed est lectus, scelerisque at tincidunt sit amet, tincidunt sit amet purus. Sed in semper elit, non volutpat quam. Cras luctus arcu id leo semper rhoncus.

                        Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam condimentum non odio at accumsan. Pellentesque rhoncus felis id bibendum faucibus. Pellentesque condimentum id lacus eget gravida. Curabitur sem diam, fringilla et volutpat pulvinar, condimentum id diam. Fusce malesuada lacus nec consequat sodales. Sed egestas odio sed congue placerat. Quisque facilisis viverra fringilla.

                        Nam suscipit convallis est non tristique. Ut nibh elit, rutrum ac mauris et, blandit blandit nunc. Pellentesque varius scelerisque finibus. Maecenas a tellus ut felis imperdiet congue ac sit amet justo. Phasellus tincidunt purus sed hendrerit condimentum. Nulla facilisi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus non mollis turpis. Donec finibus tempor sodales. Proin sodales nibh vel dui varius, a fringilla magna sagittis. Morbi sed aliquet lectus. Vivamus non risus quam. Mauris fermentum pharetra arcu, sit amet venenatis ante. Nam consequat, est sed molestie vulputate, ex mi gravida dolor, ac vestibulum sem nibh eu elit. Donec felis enim, luctus id magna eu, tincidunt volutpat metus.</p>
                    </div>
                </nav>
            </div>
        </div>


        <!-- jQuery CDN -->
        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <!-- Bootstrap Js CDN -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!-- jQuery Custom Scroller CDN -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

        <script type="text/javascript">
            $(document).ready(function () {
               

                $('#sidebarCollapse').on('click', function () {
                    $('#sidebar, #content').toggleClass('active');
                    $('.collapse.in').toggleClass('in');
                    $('a[aria-expanded=true]').attr('aria-expanded', 'false');
                });

                $("#divrisk").click(function(){
                     $("#divrisk").toggle("slow","linear");
                });

                $("#buttonrisk").click(function(){
                     $("#divrisk").toggle("slow","linear");
                });


            });
        </script>
        <script src="scripts/map.js"></script>
        <script src="scripts/script.js"></script>
    </body>
</html>