<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header %>
  </head>
  <body>
    <div class="menu">
     <div class="menu_item"><a href="https://www.aya.go.cr/SitePages/Principal.aspx"><img class="menu_image" src="images/tec.png" alt=""></a></div>
      <div class="menu_item"><a href="https://www.aya.go.cr/SitePages/Principal.aspx"><H1>Proyecto IRSSAS</H1></a></div>
     <div class="menu_item_block">
      <form class="menu_form" action="/main">
        <div class="menu_item"><input class="login_button" type="submit" name="button" value="Regresar al menú Principal"></div>
      </form>
      </div>
    </div>
    <div class="lateral">
              <% include ../partials/lateral %>
    </div>
    <div id="map"></div>
    <script src="scripts/map.js"></script>
        <div style="width: 200px; background-color: #012A60; position: absolute; top: 100px; right: 0px;">
      <ul style="list-style-type: square;">
        <li style="list-style-type: none; color: #fff;">Nivel de Riesgo</li>
        <br>
        <li style="color: rgb(254, 0, 2);">Alto</li>
        <li style="color: rgb(255, 152, 1);">Medio-Alto</li>
        <li style="color: rgb(253, 235, 3);">Medio</li>
        <li style="color: rgb(122, 213, 73);">Medio-Bajo</li>
        <li style="color: rgb(0, 153, 0);">Bajo</li>
        <li style="color: rgb(255,255,255);">No definido</li>
      </ul>
    </div>
  </body>
</html>
